# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# Python cache
__pycache__/
*.py[cod]
*.pyo
test/
Folder3.zip
Folder2.zip
Folder.zip
Dockerfile
myvenv/
../myvenv/